flask==2.2.2
flask_cors==3.0.10
flask-sqlalchemy==3.0.3
flask_script==2.0.6
flask-migrate==4.0.4
flask_testing==0.8.1
pymysql==1.0.2
pyjwt==2.6.0
coverage==7.1.0
gunicorn==20.1.0
flask-wtf==1.1.1
flask-login==0.6.2
SQLAlchemy==1.4.34
WTForms==3.0.1
passlib==1.7.4