@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.box .line {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0 0 5px 0;
    border-radius: 5px;
}

.box .line:nth-child(2n) {
    height: calc(20% - 5px);
}

.box .line:nth-child(2n+1) {
    height: calc(30% - 5px);
}

@keyframes gradient {
    100% {
        transform: translateX(100%) rotate(0deg);
    }
}

.theme-dark {
    background-color: #1a2236;
}

.theme-dark .card {
    background-color: #293145 !important;
}

.theme-dark .app-footer i {
    color: #fff;
}

.theme-dark .app-header .logo svg path {
    fill: #fff;
}

.theme-dark .app-header .menu-icon i {
    color: #fff;
}

.bg-flicker {
    background-color: #ff0084 !important;
}

.bg-whatsup {
    background-color: #25D366 !important;
}

.bg-tumblr {
    background-color: #34465d !important;
}

.bg-youtube {
    background-color: #cd201f !important;
}

.bg-black {
    background-color: #000;
}

.text-current {
    color: var(--theme-color) !important;
}

.bg-current {
    background-color: var(--theme-color) !important;
}

.bg-primary-gradiant {
    background: linear-gradient(135deg, var(--theme-color), var(--theme-color-shade)) !important;
}

.bg-red-gradiant {
    background: linear-gradient(to right, #e44d26, #f16529) !important;
}

.bg-grey {
    background-color: #eee !important;
}

.bg-greylight {
    background-color: #f5f5f5 !important;
}

.bg-after-fluid .container {
    position: relative;
    z-index: 2;
}

.bg-lightblue-after .container {
    position: relative;
    z-index: 3;
}

.color-theme-blue {
    --theme-color: #05f;
    --theme-color-rgb: 33, 150, 243;
    --theme-color-shade: #09f;
    --theme-color-tint: #1E74FD;
}

.w25 {
    width: 25px !important;
}

.w40 {
    width: 40px !important;
}

.w45 {
    width: 45px !important;
}

.w50 {
    width: 50px !important;
}

.w100 {
    width: 100px !important;
}

.w175 {
    width: 175px !important;
}

.w200 {
    width: 200px !important;
}


.w700 {
    width: 700px !important;
}


.h5 {
    height: 5px !important;
}

.h10 {
    height: 7px !important;
}

.h55 {
    height: 55px !important;
}

.h75 {
    height: 75px !important;
}

.h90 {
    height: 90px !important;
}

.h100 {
    height: 100px !important;
}

.h125 {
    height: 125px !important;
}

.h150 {
    height: 150px !important;
}

.h175 {
    height: 175px !important;
}

.h200 {
    height: 200px !important;
}

.h240 {
    height: 242px !important;
}

.h290 {
    height: 290px !important;
}

.h300 {
    height: 300px !important;
}

.h361 {
    height: 361px !important;
}

.h400 {
    height: 400px !important;
}

.h450 {
    height: 450px !important;
}

.h500 {
    height: 500px !important;
}

.h600 {
    height: 600px !important;
}


.upvote, .downvote {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
}

.upvote {
    border-bottom: 20px solid #808080;
    transition: color 1.0s;
}

.downvote {
    border-top: 20px solid #808080;
    transition: color 1.0s;
}

.btn-round-xss i {
    line-height: 25px !important;
}

.btn-round-xs {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
    line-height: 25px !important;
    text-align: center;
}

.btn-round-xs i {
    line-height: 25px !important;
}

.btn-round-sm {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: inline-block;
    line-height: 35px !important;
    text-align: center;
}

.btn-round-sm i {
    line-height: 35px !important;
}

.btn-round-md {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: inline-block;
    line-height: 45px !important;
    text-align: center;
}

.btn-round-md i {
    line-height: 45px;
}

.btn-round-lg {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    line-height: 50px !important;
    text-align: center;
}

.btn-round-lg i {
    line-height: 50px;
}

.btn-round-xl i {
    line-height: 60px;
}

.btn-round-xl img {
    line-height: 60px;
}

.btn-round-xxl i {
    line-height: 70px;
}

.btn-round-xxxl i {
    line-height: 80px;
}

.btn-round-xxxxl i {
    line-height: 110px;
}

.z-index-1 {
    z-index: 2;
    position: relative;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.ls-3 {
    letter-spacing: 1px;
}

.lh-2 {
    line-height: 1.2;
}

.lh-3 {
    line-height: 1.4;
}

.lh-4 {
    line-height: 1.6;
}

.lh-5 {
    line-height: 2;
}

.lh-20 {
    line-height: 20px !important;
}

.lh-26 {
    line-height: 26px;
}

.lh-28 {
    line-height: 28px;
}

.lh-32 {
    line-height: 32px;
}

.font-xsssss {
    font-size: 10px !important;
}

.font-xssss {
    font-size: 12px !important;
}

.font-xsss {
    font-size: 14px !important;
}

.font-xss {
    font-size: 16px !important;
}

.font-xs {
    font-size: 18px !important;
}

.font-sm {
    font-size: 20px !important;
}

.font-md {
    font-size: 22px !important;
}

.font-lg {
    font-size: 25px !important;
}

.font-xl {
    font-size: 28px !important;
}

.font-xxl {
    font-size: 32px !important;
}

.display1-size {
    font-size: 36px !important;
}

.display2-size {
    font-size: 44px !important;
}

.display3-size {
    font-size: 50px !important;
}

.shadow-xs {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03) !important;
}

.shadow-xss {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05) !important;
}

.bg-image-cover {
    background-size: cover;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.top-0 {
    top: 0 !important;
}

.right-auto {
    right: auto !important;
}

.right-0 {
    right: 0 !important;
}

.right-15 {
    right: 15px;
}

.right-35 {
    right: 35px;
}

.pl-15 {
    padding-left: 150px !important;
}

.mt--1 {
    margin-top: -0.4rem !important;
}

.mt--2 {
    margin-top: -2.5rem !important;
}

.rounded-xxl {
    border-radius: 15px !important;
}

.rounded-xl {
    border-radius: 30px !important;
}

.list-style-disc li {
    list-style-type: disc;
    margin-bottom: 5px;
}

:root {
    --f7-theme-color: #132977;
}

.theme-dark {
    background-color: #1a2236;
}

.theme-dark .card {
    background-color: #293145 !important;
}

.theme-dark .app-footer {
    background-color: #293145 !important;
    border-top: 0;
}

.theme-dark h1, .theme-dark h2, .theme-dark h3, .theme-dark h4, .theme-dark h5, .theme-dark h6, .theme-dark .h1, .theme-dark .h2, .theme-dark .h3, .theme-dark .h4, .theme-dark .h5, .theme-dark .h6 {
    color: #fff !important;
}

.theme-dark .middle-sidebar-header,
.theme-dark .middle-sidebar-right-content, .theme-dark .nav-header, .theme-dark .navigation {
    background-color: #293145 !important;
    box-shadow: none !important;
}

.theme-dark .navigation .nav-content ul li:not(.logo) a span {
    color: #ddd;
}

.theme-dark .navigation .nav-top a i {
    background-color: transparent !important;
}

.theme-dark .scroll-bar::-webkit-scrollbar,
.theme-dark .scroll-bar::-webkit-scrollbar-track {
    background-color: #1a2236 !important;
}

.theme-dark .main-content .middle-sidebar-header .header-menu:before,
.theme-dark .main-content .middle-sidebar-header .header-menu:after {
    background-color: #fff;
}

.theme-dark .main-content .middle-sidebar-header .menu-search-icon i {
    color: #fff !important;
}

.theme-dark .main-content .middle-sidebar-bottom .middle-sidebar-right .middle-sidebar-right-content .card {
    border: 0 !important;
}

.theme-dark .main-content .middle-sidebar-header {
    border-bottom: 0;
}

.theme-dark .modal-popup-chat .modal-popup-wrap .modal-popup-header,
.theme-dark .modal-popup-chat .modal-popup-wrap .modal-popup-footer {
    border: 0 !important;
}

.theme-dark .input-file + .js-labelFile.btn-tertiary,
.theme-dark .modal-popup-chat .modal-popup-wrap,
.theme-dark .theme-dark-bg {
    background-color: #1a2236 !important;
}

.theme-dark .theme-light-bg {
    background-color: #132977 !important;
}

.theme-dark .theme-white-bg {
    background-color: #eee !important;
}

.theme-dark ul.list-inline .list-inline-item.border-bottom {
    border-bottom: 0 !important;
}

.theme-dark .form-control {
    background-color: #333 !important;
    border-color: var(--theme-color);
}

.theme-dark .dropdown-menu-settings:after {
    border-color: transparent transparent #1a2236 transparent;
}

.theme-dark .bg-transparent-card {
    background: transparent !important;
}

.theme-dark .notification-dropdown,
.theme-dark .dropdown-menu-settings,
.theme-dark .main-content {
    background-color: #1a2236;
}

.theme-dark .form-group.bg-white {
    border: 0 !important;
    background-color: #1a2236 !important;
}

.theme-dark .main-content .left-sidebar .left-sidebar-content .left-sidebar-header,
.theme-dark .main-content .left-sidebar .left-sidebar-content .left-sidebar-bottom,
.theme-dark .main-content .left-sidebar .left-sidebar-content {
    background-color: #293145 !important;
}

.theme-dark .apexcharts-datalabel-value {
    fill: #eee;
}

.theme-dark .form-group label,
.theme-dark .text-dark {
    color: #eee !important;
}

.theme-dark .member-ul li.active a b,
.theme-dark .price-wrap .left-price h2,
.theme-dark .price-wrap .left-price .h2,
.theme-dark .form-div h2,
.theme-dark .form-div .h2,
.theme-dark .slide-wrapper h2,
.theme-dark .slide-wrapper .h2 {
    color: #eee;
}

.theme-dark .header-wrapper .search-div {
    border: 1px #555 solid;
}

.theme-dark .header-wrapper .nav-menu li a {
    color: #ddd !important;
}

.theme-dark .search-wrapper,
.theme-dark .accordion .card .card-body,
.theme-dark .accordion .card .card-header,
.theme-dark .form-div {
    background-color: #293145;
}

.theme-dark .header-wrapper .logo {
    color: lightsteelblue;
}

.theme-dark .card p {
    color: #ddd !important;
}

.theme-dark .accordion .card button:after,
.theme-dark .accordion .card button,
.theme-dark .price-wrap .middle-price h6,
.theme-dark .price-wrap .middle-price .h6,
.theme-dark .form-div p,
.theme-dark .form-div label p,
.theme-dark .form-div .sign-up-text {
    color: #ddd;
}

.theme-dark .form-div label p a,
.theme-dark .form-div .sign-up-text a {
    color: #fff;
    margin-left: 5px;
}

.theme-dark .navbar-toggler {
    color: white;
    border-color: white;
}

.theme-dark .accordion .card button.small-text a,
.theme-dark .accordion .card button.small-text {
    color: #fff;
}

.theme-dark .card-header {
    border-bottom: 0 solid #000;
}

.theme-dark .dark-bg-transparent {
    background-color: transparent !important;
}

.theme-dark .nav-tabs li a.active {
    border-bottom: 2px #ddd solid !important;
    color: #fff !important;
}

.theme-dark .form-group label.text-dark-color,
.theme-dark .text-dark-color {
    color: #111 !important;
}

.theme-dark .bor-0 {
    border: 0 !important;
}

.theme-dark .chatlist.style2 .item img {
    border: 2px #1a2236 solid;
}

.theme-dark .card-body.border-top-xs {
    border-top: 1px solid #555;
}

.theme-dark .nav-header .nav-menu:before,
.theme-dark .nav-header .nav-menu:after,
.theme-dark .nav-header .nav-menu {
    background-color: #fff;
}

.theme-dark a.text-dark:hover {
    color: #eee !important;
}

.theme-dark .header-wrapper .logo .light {
    display: none;
}

.theme-dark .header-wrapper .logo .dark {
    display: inline-block;
}

* {
    outline: none;
    padding: 0;
}

*::after {
    margin: 0;
    padding: 0;
}

*::before {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.75;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.pointer {
    cursor: pointer;
}

.shop-slider .slick-dots .slick-active button {
    border: 2px #333 solid;
    border-radius: 20px;
}

.center-menu-icon.active i {
    color: #1E74FD !important;
    background-color: #d2e3ff !important;
    border-color: #bcd5fe !important;
}

.content-body {
    margin: 18px 6px 45px 65px;
}

.text-grey-400 {
    color: #ced4da !important;
}

.text-grey-500 {
    color: #adb5bd !important;
}

.text-grey-700 {
    color: #495057 !important;
}

.text-grey-900 {
    color: #212529 !important;
}

.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.mont-font {
    font-family: "Montserrat", sans-serif;
}

.fredoka-font {
    font-family: "Fredoka One", cursive;
}

.right-chat {
    position: fixed;
    top: 0;
    right: -290px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 290px;
    height: calc(100vh - 15px);
    overflow: hidden;
    background: transparent;
    transition: all 0.25s ease;
    padding-top: calc(90px + 6px);
    padding-right: 15px;
    padding-left: 15px;
    z-index: 1;
}

@media (max-width: 992px) {
    .right-chat {
        padding-top: 66px !important;
        padding-bottom: 66px;
        z-index: 10;
    }
}

.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 96px;
    padding: 0 15px 0 0;
    background: #ffffff;
    border-bottom: 2px #eee solid;
    -webkit-transition: left 0.25s;
    -o-transition: left 0.25s;
    transition: left 0.25s;
}

@media (max-width: 992px) {
    .nav-header {
        padding: 9px 15px 9px 15px;
        height: auto;
        position: fixed;
        top: env(safe-area-inset-top);
        left: 0;
        right: 0;
        z-index: 999;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03) !important;
    }
}

@media (max-width: 992px) {
}

.nav-header .nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 992px) {
    .nav-header .nav-top {
        position: relative;
        width: 100%;
    }
}

.nav-header .nav-top a {
    line-height: 90px;
    width: 280px;
    text-align: left;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    white-space: nowrap;
}

.nav-header .nav-top a .logo-text {
    line-height: 90px;
    transition: all 0.4s ease;
}

@media (max-width: 992px) {
    .nav-header .nav-top a {
        line-height: 28px;
        padding-left: 0;
        width: auto;
    }

    .nav-header .nav-top a i.feather-zap {
        font-size: 28px !important;
        margin-right: 5px !important;
    }

    .nav-header .nav-top a .logo-text {
        line-height: 28px;
        font-size: 24px !important;
    }
}

.nav-header .nav-menu {
    display: none;
    border: 0;
    background-color: transparent !important;
    flex-shrink: 0;
    width: 27px;
    height: 27px;
    margin-right: 32px;
    font-size: 0;
    position: relative;
    transition: all 0.25s ease;
}

.nav-header .nav-menu:focus {
    outline: none;
}

.nav-header .nav-menu:before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    top: 7px;
    right: 0;
    position: absolute;
    border-radius: 1px;
    background: #1B1D21;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.nav-header .nav-menu:after {
    content: "";
    display: inline-block;
    width: 22px;
    height: 2px;
    top: 18px;
    right: 0;
    position: absolute;
    border-radius: 1px;
    background: #1B1D21;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

@media (max-width: 992px) {
    .nav-header .nav-menu {
        display: inline-block;
    }
}

@media (max-width: 992px) {
    .nav-header .header-search {
        display: none;
    }
}

.nav-header .header-search .form-group.icon-input i {
    top: 14px;
}

@media (max-width: 992px) {
    .nav-header .menu-icon {
        display: none;
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

.navigation {
    position: fixed;
    top: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 280px;
    height: 100vh;
    overflow: hidden;
    background: transparent;
    -webkit-transition: width 0.25s;
    -o-transition: width 0.25s;
    transition: width 0.25s;
    padding-top: calc(90px + 6px);
    z-index: -1;
}

.navigation.menu-active {
    width: 90px;
}

.navigation.menu-active .nav-content {
    width: 90px;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation.menu-active .nav-content ul li > a span {
    margin-left: 30px;
}

.navigation.menu-active .nav-content ul li > a span.circle-count,
.navigation.menu-active .card,
.navigation.menu-active .nav-top a .logo-text,
.navigation.menu-active .nav-caption span {
    display: none !important;
}

.navigation.menu-current-color .nav-wrap {
    background: linear-gradient(135deg, var(--theme-color), var(--theme-color-shade)) !important;
}

@media (max-width: 992px) {
    .navigation {
        position: fixed;
        top: 0;
        left: -320px;
        background-color: #fff !important;
        z-index: 1000;
        height: 100vh;
        padding-top: 0;
        transition: all 0.4s ease;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.18) !important;
    }

    .navigation.nav-active {
        left: 0;
        right: 0;
    }
}

.navigation .card {
    transition: all 0.4s ease;
    width: calc(280px - 45px);
}

.navigation .nav-top {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 96px;
}

@media (max-width: 768px) {
    .navigation .nav-top {
        position: relative;
    }
}

.navigation .nav-top a {
    line-height: 90px;
    width: 280px;
    text-align: left;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    white-space: nowrap;
}

.navigation .nav-top a .logo-text {
    line-height: 90px;
    transition: all 0.4s ease;
}

.navigation .nav-content {
    width: 280px;
    transition: all 0.2s ease;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {
    .navigation .nav-content {
        width: auto;
    }

    .navigation .nav-content .nav-wrap {
        box-shadow: none !important;
    }
}

@media (min-width: 992px) {
    .navigation .nav-content {
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        border-radius: 0 10px 10px 0;
    }
}

.navigation .nav-content ul {
    padding: 0;
    margin: 0;
}

@media (min-width: 992px) {
    .navigation .nav-content ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width: 992px) {
}

@media (max-width: 768px) {
}

.navigation .nav-content ul li > a.active span {
    color: #fff;
}

.navigation .nav-content ul li > a.active i {
    color: #fff;
}

.navigation .nav-content ul li > a:hover span {
    color: var(--theme-color);
}

.navigation .nav-content ul li > a.active:hover span {
    color: #fff !important;
}

@media (max-width: 992px) {
    .app-footer .dot-count {
        position: absolute;
        top: 5px;
        right: 15px;
        border-radius: 5px;
        width: 7px;
        height: 7px;
        line-height: 15px;
        text-align: center;
        display: inline-block;
        font-size: 10px;
    }

    .app-footer a {
        padding: 6px 20px;
    }

    .app-footer a i {
        color: #fff;
        font-size: 25px;
        top: 3px;
        position: relative;
    }

    .app-footer a span {
        color: var(--theme-color);
    }
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

.main-content {
    background-color: #fbfcfe;
}

@media (min-width: 992px) {
    .main-content {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        padding-top: 90px;
        /*padding-left: 280px;*/
        padding-right: 290px;
        -webkit-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }
}

@media (max-width: 768px) {
    .main-content {
        order: 1;
        position: relative;
        height: calc(100vh - 56px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-width: 576px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

.main-content .left-sidebar .left-sidebar-content .left-sidebar-bottom .panel .panel-title a i, .main-content .right-sidebar .left-sidebar-content .left-sidebar-bottom .panel .panel-title a i {
    position: relative;
    top: 3px;
}

.main-content .left-sidebar .left-sidebar-content .left-sidebar-bottom .panel .panel-body ul, .main-content .right-sidebar .left-sidebar-content .left-sidebar-bottom .panel .panel-body ul {
    padding-left: 31px;
}

.main-content .left-sidebar .left-sidebar-content .left-sidebar-bottom .panel .panel-body ul li a, .main-content .right-sidebar .left-sidebar-content .left-sidebar-bottom .panel .panel-body ul li a {
    font-size: 12px;
}

@media (min-width: 1200px) {
    .main-content .middle-sidebar-bottom {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

@media (max-width: 992px) {
    .main-content .middle-sidebar-bottom {
        width: 100%;
        padding: 76px 15px 0;
    }
}

.main-content .middle-sidebar-bottom .middle-sidebar-left {
    width: 100%;
}

@media (max-width: 992px) {
    .main-content .middle-sidebar-bottom .middle-sidebar-right {
        position: fixed;
        top: 0;
        right: -350px;
        z-index: 2;
        padding: 76px 15px 56px;
        height: calc(100vh);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.main-content .middle-sidebar-bottom .middle-sidebar-right .middle-sidebar-right-content .card {
    border: 1px #eee solid !important;
}

@media (max-width: 768px) {
    .main-content .middle-sidebar-bottom .middle-sidebar-right .middle-sidebar-right-content {
        margin-left: auto;
    }
}

.main-content .middle-sidebar-bottom .sidebar-right i {
    font-size: 18px;
    position: relative;
    left: -10px;
}

body.theme-full .nav-header {
    max-width: 1600px;
    margin: 0 auto;
}

.accordion-toggle.collapsed::after {
    color: #999;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    display: none;
    height: 40px;
}

@media only screen and (max-width: 992px) {
    .navbar-toggler {
        display: inline-block;
    }
}

.navbar-toggler-icon {
    width: 27px;
    height: 2px;
    background-color: #999;
    position: relative;
    top: -2px;
}

.navbar-toggler-icon:after {
    content: "";
    width: 27px;
    height: 2px;
    background-color: #999;
    position: absolute;
    top: -8px;
    left: 0;
}

.navbar-toggler-icon:before {
    content: "";
    width: 27px;
    height: 2px;
    background-color: #999;
    position: absolute;
    bottom: -8px;
    left: 0;
}

.upper-header ul {
    margin-bottom: 0;
    margin-top: 20px;
}

.upper-header ul li {
    position: relative;
    padding-left: 15px;
}

.upper-header ul li a {
    color: #ddd;
    font-size: 11px;
    line-height: 38px;
    font-weight: 600;
    text-transform: uppercase;
}

.upper-header ul li a i {
    position: relative;
    top: 2px;
}

.upper-header.bg-greylight ul li a {
    color: #999;
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
    .header-wrapper.pos-fixed .navbar-collapse {
        background-color: #fff;
        padding: 0 10px;
        border-radius: 6px;
        margin-top: 10px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08) !important;
    }
}

.header-wrapper.shadow-xs {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03) !important;
}

.header-wrapper .nav-menu {
    display: inline-block;
    float: left;
    margin-left: 40px;
    margin-top: 0;
}

@media only screen and (max-width: 992px) {
    .header-wrapper .nav-menu {
        margin-left: 0;
        width: 100%;
        display: block;
    }
}

.header-wrapper .nav-menu.dropdown-menu-full {
    position: relative;
}

.header-wrapper .nav-menu.dropdown-menu-full li {
    position: initial;
}

.header-wrapper .nav-menu.text-white li a {
    color: #fff !important;
}

.header-wrapper .nav-menu.text-black li a {
    color: #000 !important;
}

.header-wrapper .nav-menu li {
    padding: 0 15px;
    display: inline-block;
    float: left;
}

@media only screen and (max-width: 992px) {
    .header-wrapper .nav-menu li {
        padding: 15px 0;
        text-align: left;
        width: 100%;
        margin: 0;
    }
}

.header-wrapper .nav-menu li:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.header-wrapper .nav-menu li .dropdown-menu {
    position: absolute;
    display: block;
    left: 20px;
    top: 148%;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08) !important;
    min-width: 13rem;
    border-top: 3px var(--theme-color) solid;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    visibility: hidden;
    z-index: 1030;
    transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 992px) {
    .header-wrapper .nav-menu li .dropdown-menu {
        position: relative;
        left: 0;
        top: 0;
        display: none;
        visibility: visible;
        opacity: 1;
        border-top: 0 solid #000;
        box-shadow: none !important;
        background-color: #f5f5f5;
        padding: 0;
        margin-top: 15px;
    }
}

.header-wrapper .nav-menu li .dropdown-menu a {
    padding: 12px 15px;
    font-size: 14px;
}

.header-wrapper .nav-menu li .dropdown-menu.full-wrap {
    min-width: 100%;
    top: 115%;
    left: 0;
    width: 100%;
    padding: 30px 30px 25px 40px;
    background-position: right 0 top 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.header-wrapper .nav-menu li .dropdown-menu.full-wrap ul.sub-menu {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    float: left;
}

.header-wrapper .nav-menu li .dropdown-menu.full-wrap ul.sub-menu li {
    width: 100%;
    float: left;
    padding-left: 0;
}

.header-wrapper .nav-menu li .dropdown-menu.full-wrap ul.sub-menu li a {
    padding-left: 0;
    font-weight: 400;
    line-height: 14px;
    display: block;
    font-size: 14px;
}

.header-wrapper .nav-menu li a {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0;
    color: #777;
    transition: all 0.4s ease;
}

.header-wrapper .nav-menu li a i {
    font-size: 10px;
    margin-left: 5px;
}

@media only screen and (max-width: 992px) {
    .header-wrapper .nav-menu li a i {
        float: right;
        line-height: 22px;
        margin-right: 10px;
    }
}

.header-wrapper .nav-menu li a:after {
    display: none;
}

.header-wrapper .nav-menu li a:hover {
    color: var(--theme-color);
}

@media only screen and (max-width: 992px) {
    .header-wrapper .nav-menu li a {
        padding: 0;
    }
}

.header-wrapper .nav-menu.bg-dark li .nav-link {
    color: #eee !important;
    font-weight: 500;
}

.menu-icon {
    position: relative;
}

.menu-icon .dot-count {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
    width: 7px;
    height: 7px;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.footer-wrapper.bg-dark p a {
    color: #ddd !important;
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
    .footer-wrapper .logo img {
        width: 100px;
    }
}

@media only screen and (max-width: 576px) {
}

.footer-wrapper .icon-img {
    height: 50px;
}

@media only screen and (max-width: 576px) {
    .footer-wrapper .icon-img {
        margin-bottom: 20px;
    }
}

.footer-wrapper form {
    overflow: hidden;
    border-radius: 2px;
}

.footer-wrapper form input {
    line-height: 50px;
    width: 70%;
    background-color: #fff;
    border: 0;
    outline: none;
    display: inline-block;
    padding: 0 15px;
    float: left;
    font-size: 14px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.footer-wrapper form button {
    text-transform: uppercase;
    float: left;
    width: 30%;
    line-height: 50px;
    text-align: center;
    background-color: var(--theme-color);
    border: 0;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
}

.footer-wrapper h4, .footer-wrapper .h4 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 300;
    color: #2f2d52;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    .footer-wrapper h4, .footer-wrapper .h4 {
        font-size: 22px !important;
        line-height: 36px;
    }
}

.footer-wrapper h4 a, .footer-wrapper .h4 a {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
    text-decoration: underline;
    margin-top: 20px;
}

.footer-wrapper p {
    color: #aaa;
    width: 60%;
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
}

.footer-wrapper p a {
    color: #333;
    font-weight: 600;
}

.footer-wrapper ul {
    margin-bottom: 0;
    margin-top: 20px;
}

.footer-wrapper ul li a {
    color: #aaa;
    font-size: 12px;
    line-height: 34px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 768px) {
}

.email-message a {
    margin-bottom: 3px;
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60px;
    position: relative;
}

@media (max-width: 768px) {
    .email-message a {
        padding: 20px 10px;
        height: auto;
        display: block;
    }
}

@media (max-width: 768px) {
}

.email-message a .email-user {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 226px;
    flex: 0 0 226px;
    width: 226px;
    padding: 0 20px 0 10px;
}

@media (max-width: 768px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
    .email-message a .email-user {
        flex: 0 0 180px;
        width: 180px;
        padding: 0 20px 0 0;
    }
}

@media (max-width: 768px) {
    .email-message a .email-user {
        width: 100%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 0;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 768px) {
}

@media (max-width: 768px) {
}

@media (max-width: 768px) {
}

.accordion .card {
    box-shadow: none;
    background: #fff;
    margin-bottom: 25px;
    border: 0;
}

@media only screen and (max-width: 768px) {
}

.accordion .card button {
    font-size: 14px;
    color: #444;
    font-weight: 600;
    padding-left: 0;
}

.accordion .card button:focus, .accordion .card button:hover {
    text-decoration: none;
}

.accordion .card button.small-text a {
    color: #111;
}

.accordion .card button i {
    font-size: 30px;
    margin-right: 10px;
    top: 32px;
    color: #333;
    position: absolute;
    left: 33px;
}

.accordion .card button span {
    font-size: 11px;
    color: #999;
    font-weight: 400;
    display: block;
}

.accordion .card button:after {
    font-family: "themify";
    content: "";
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 23px;
    color: #888;
    transform: rotate(223deg);
    transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {
    .accordion .card button:after {
        right: 10px;
    }
}

.accordion .card p {
    font-size: 13px;
    line-height: 32px;
    color: #a1a1a1;
    font-weight: 500;
}

.owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 4px;
    transition: all 0.4s ease;
}

.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background-color: var(--theme-color);
}

.owl-theme.dot-style2 .owl-dots .active span {
    background-color: transparent !important;
    border: 2px #333 solid;
}

.owl-theme.dot-style2 .owl-dots span {
    width: 25px !important;
    height: 25px !important;
    padding: 10px;
    background-color: transparent;
    position: relative;
    border: 2px transparent solid;
}

.owl-theme.dot-style2 .owl-dots span:after {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    content: "";
    position: absolute;
    display: inline-block;
    background-color: #555;
    top: 8px;
    left: 8px;
}

.owl-theme.dot-style3 .owl-dots .active span {
    background: rgba(255, 255, 255, 0.5) !important;
}

.owl-theme.dot-style3 .owl-dots .active span:after {
    width: 100%;
    background-color: #fff;
}

.owl-theme.dot-style3 .owl-dots span {
    transition: all 0.4s ease;
    width: 100% !important;
    height: 4px !important;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.owl-theme.dot-style3 .owl-dots span:after {
    content: "";
    position: absolute;
    top: 0;
    height: 4px;
    background-color: transparent;
    width: 0;
    left: 0;
    transition: width 0.2s;
    transition-duration: 4s;
}

.owl-theme.right-nav .owl-nav button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid var(--theme-color);
}

.owl-theme.right-nav .owl-nav button i {
    color: var(--theme-color);
    font-size: 18px;
    line-height: 38px;
}

.owl-theme.right-nav .owl-nav button:hover, .owl-theme.right-nav .owl-nav button:focus {
    background-color: transparent !important;
    outline: none !important;
}

.owl-theme.right-nav .owl-nav button:hover i, .owl-theme.right-nav .owl-nav button:focus i {
    color: var(--theme-color);
}

.product-slider-3 .owl-thumb-item img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.product-slider-3 .owl-thumb-item.active img {
    position: relative;
}

.product-slider-8 .owl-thumb-item img {
    width: 50%;
    height: auto;
    vertical-align: middle;
}

.product-slider-8 .owl-thumb-item.active img {
    position: relative;
}

.modal .modal-content .close i {
    color: #fff;
    font-size: 16px;
}

/*Left*/

/*Right*/

@media (min-width: 576px) {

}

.toggle input[type=checkbox] {
    display: none;
}

.switchcolor-wrap ul {
    overflow: hidden;
}

.switchcolor-wrap ul li {
    display: inline-block;
    float: left;
    margin-right: 8px;
}

.switchcolor-wrap label.item-radio input[type=radio] {
    display: none;
}

.switchcolor-wrap .sheet-close i {
    font-size: 20px;
}

.timer.style3 .time-count .text-time {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    margin-left: 0 !important;
    margin-right: 20px !important;
    margin-bottom: 0 !important;
    text-align: left;
    background: transparent;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}

@media only screen and (max-width: 992px) {
    .timer.style3 .time-count .text-time {
        font-size: 30px;
    }
}

.timer.bg-white .time-count .text-time {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-align: center;
    padding-bottom: 0 !important;
}

.timer.bg-grey-time .text-time {
    background-color: #f5f5f5;
}

.timer .text-time {
    padding: 12px;
    margin: 5px;
    font-weight: 600;
    font-size: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.form-group.icon-input {
    position: relative;
}

.form-group.icon-input i {
    position: absolute;
    left: 15px;
    top: 19px;
}

.form-group.icon-input input {
    padding-left: 35px;
}

.form-group.icon-right-input i {
    position: absolute;
    right: 15px;
    top: 12px;
}

.form-group.icon-right-input input {
    padding-left: 35px;
}

.form-group .style1-input {
    height: 55px;
    line-height: 55px;
    display: block;
    font-size: 12px;
}

.form-group .style1-select {
    line-height: 55px;
    height: 55px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #adb5bd !important;
}

.form-group .style2-select {
    line-height: 60px;
    height: 60px;
    font-size: 14px;
    font-weight: 500;
    color: #adb5bd !important;
    border: 2px #eee solid;
    border-radius: 7px;
}

.form-group .style2-input {
    height: 60px;
    line-height: 60px;
    display: block;
    border: 2px #eee solid;
    border-radius: 7px;
}

.form-group .style2-input::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 60px;
}

.form-group .style2-input::-moz-placeholder {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 60px;
}

.form-group .style2-input:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 60px;
}

.form-group .style2-input:-moz-placeholder {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 60px;
}

.form-group .style2-input i {
    position: relative;
    top: 6px;
}

.form-group .style2-textarea {
    line-height: 20px;
    display: block;
    border: 2px #eee solid;
    border-radius: 7px;
}

.search-form {
    position: relative;
}

.search-form input {
    height: 55px;
    line-height: 55px;
    padding-left: 20px;
    border-radius: 8px;
    font-weight: 500;
}

.search-form i {
    position: absolute;
    top: 18px;
    right: 15px;
    color: #999;
}

.searchbox-close {
    float: right;
}

.search-form-2 {
    position: relative;
}

.search-form-2 input {
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    border-radius: 8px;
    font-weight: 500;
}

.search-form-2 i {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #999;
}

.form-control {
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    display: inline-block;
    border: 2px #eee solid;
}

.form-control:focus {
    border-color: var(--theme-color);
}

.form-control.style2 {
    height: 60px;
    line-height: 60px;
}

.input-file {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + .js-labelFile i {
    font-size: 24px;
    position: relative;
    top: 5px;
    display: inline-block;
}

.input-file + .js-labelFile i.large-icon {
    font-size: 42px;
}

.input-file + .js-labelFile.has-file i {
    display: none;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */

/* Slider size and handle placement;
 */

/* Styling;
 */

.custom-radio.size-sm label::before {
    width: 15px !important;
    height: 15px !important;
    top: 5px;
    left: -30px;
}

@media (max-width: 992px) {
}

.emoji-wrap li {
    margin-right: 5px !important;
}

.emoji-wrap li i {
    margin-right: 0 !important;
    font-size: 22px;
}

@media (max-width: 992px) {
    .emoji-wrap li i {
        font-size: 20px;
    }
}

.notification-box li a {
    padding-left: 70px !important;
    position: relative;
}

.notification-box li a img, .notification-box li a .btn-round-md {
    position: absolute;
    left: 15px;
    top: 15px;
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .contact-wrap .display3-size {
        font-size: 40px !important;
        margin-bottom: 30px !important;
    }
}

@media (max-width: 992px) {
}

.video-bttn.default {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50% !important;
    animation: videobtn 1.9s linear infinite;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.video-bttn.default:after {
    margin-left: 0;
    position: relative;
    left: 0;
}

.question-div {
    transition: all 0.4s ease;
}

.question-div .question-ans {
    cursor: pointer;
    transition: all 0.4s ease;
}

.question-div .question-ans.style2 {
    border: 2px solid transparent !important;
}

.question-div .question-ans.style3 span {
    transition: all 0.4s ease;
}

.question-div .question-ans.style3.active span {
    background-color: var(--theme-color) !important;
    color: #fff !important;
}

@media only screen and (max-width: 768px) {
}

.nav-tabs li a {
    transition: all 0.4s ease;
}

.login-card {
    min-width: 380px;
    max-width: 400px;
}

.banner-slider .style-div {
    height: 570px;
}

@media (max-width: 992px) {
    .banner-slider .style-div {
        height: 450px;
    }
}

.recent-post li {
    list-style-type: disc;
    margin-bottom: 5px;
}

.recent-post li a {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

@media (max-width: 768px) {
}

.modal-popup-chat .message-content {
    color: #594939;
    padding: 10px 20px;
    background-color: #fcf6ee;
    border-radius: 20px 20px 20px 0;
    max-width: 80%;
    display: inline-block;
    text-align: left;
}

.modal-popup-chat .message.self .message-content {
    border-radius: 20px 20px 0 20px;
    background-color: #e2efff;
    color: #2A4E7F;
}

.list-group .list-group-item span {
    font-size: 12px;
    color: #999;
    margin-top: 3px;
}

.list-group .list-group-item.style2 i {
    width: auto;
    height: auto;
    color: #555;
    line-height: 24px;
}

.memberlist {
    margin-left: -15px;
    position: relative;
}

.memberlist li {
    display: inline-block;
    float: none;
    position: relative;
    width: 15px;
}

.memberlist li.last-member a {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 30px;
    line-height: 30px;
}

.chatlist .item img {
    width: 100%;
    border: 2px var(--theme-color) solid;
    border-radius: 50px;
    padding: 2px;
}

.chatlist .item.dashed img {
    border: 2px var(--theme-color) dashed;
}

.chatlist.style2 .item.no-ouline span {
    line-height: 20px;
    width: 110%;
    left: -6%;
    margin-top: 2px;
}

.chatlist.style2 .item img {
    border: 2px #fff solid;
    margin: 0;
    border-radius: 32px !important;
}

.chatlist.style2 .item span {
    position: absolute;
    width: 100%;
    margin-top: 3px;
    text-align: center;
}

.chat-bottom {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 11;
}

.chat-form {
    padding: 4px;
    width: 100%;
}

.chat-form .form-group {
    width: calc(100% - 90px);
    border-radius: 30px;
    float: left;
    margin: 0 5px;
    position: relative;
}

.chat-form .form-group:after {
    background-color: var(--theme-color);
    opacity: 0.08;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
}

.chat-form input {
    width: 100%;
    border: 0;
    border-radius: 30px;
    font-size: 14px;
    padding: 0 15px;
    line-height: 40px;
    color: #ddd;
    font-weight: 500;
}

.chat-form button {
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.chat-form button i {
    font-size: 16px;
}

.chat-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 0 0;
}

@media (max-width: 768px) {
    .chat-body {
        margin-top: 20px;
        margin-bottom: 0;
        padding-right: 20px;
        padding-left: 20px;
        overflow: auto !important;
    }
}

.chat-body .messages-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 70px !important;
}

.chat-body .messages-content .message-item.outgoing-message {
    margin-left: auto;
    margin-right: 5px;
}

.chat-body .messages-content .message-item.outgoing-message .message-user {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.chat-body .messages-content .message-item.outgoing-message .message-wrap {
    background-color: var(--theme-color);
    color: #fff;
}

.chat-body .messages-content .message-item {
    max-width: 97%;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .chat-body .messages-content .message-item {
        max-width: 75%;
    }
}

.chat-body .messages-content .message-item .message-wrap {
    padding: 14px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    font-size: 13px;
    color: #000;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    z-index: 2;
}

.chat-body .messages-content .message-item .message-wrap:after {
    background-color: var(--theme-color);
    opacity: 0.1;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 1;
}

.chat-body .messages-content .message-item .message-wrap.outgoing-message::after {
    display: none;
}

@media (max-width: 1200px) {
    .chat-body .messages-content .message-item .message-wrap {
        padding: 20px;
    }
}

.chat-body .messages-content .message-item .message-user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5px;
}

.chat-body .messages-content .message-item .message-user .avatar {
    top: 3px;
    position: relative;
}

.chat-body .messages-content .message-item .message-user .avatar img {
    display: inline-block;
    margin-bottom: 0;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
}

.chat-body .messages-content .message-item .message-user .time {
    font-size: 11px;
    font-weight: 500;
    color: #aaaaaa;
    margin-bottom: 0;
    position: relative;
    top: -3px;
    right: auto;
    display: inline-block;
}

.chat-body .messages-content .message-item .message-user .time .ti-double-check:before {
    content: "";
    font-family: themify;
    position: relative;
    left: 9px;
}

.chat-body .messages-content .message-item .message-user .time .ti-double-check:after {
    content: "";
    font-family: themify;
}

.right-comment {
    position: fixed;
    top: 0;
    width: 320px;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    right: 0;
    padding: 0 0 0 8px;
}

.cart-wrapper .table tbody td {
    border-top: 0;
    vertical-align: middle;
    padding-top: 10px;
}

.input-code {
    width: 200px;
    height: 60px;
    line-height: 60px;
}

@media (max-width: 768px) {
    .input-code {
        width: 165px;
    }
}

.img-count {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
}

.img-count b {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    font-weight: 600 !important;
}

.hover-card .card-image {
    overflow: hidden;
}

.hover-card .card-image img {
    transition: all 0.4s ease !important;
    position: relative;
}

.hover-card:hover .card-image img {
    transform: scale(1.1);
}

.animation-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes slideOutUp {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes slideOutDown {
    0% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@keyframes videobtn {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 0 30px rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2), 0 0 0 30px rgba(255, 255, 255, 0.2), 0 0 0 50px rgba(255, 255, 255, 0);
    }
}

@keyframes videobtn_red {
    0% {
        box-shadow: 0 0 0 0 rgba(236, 57, 139, 0.1), 0 0 0 10px rgba(236, 57, 139, 0.2), 0 0 0 50px rgba(236, 57, 139, 0.3);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(236, 57, 139, 0.2), 0 0 0 50px rgba(236, 57, 139, 0.2), 0 0 0 100px rgba(236, 57, 139, 0);
    }
}

@keyframes dotTyping {
    0% {
        box-shadow: 9984px 0 0 0 var(--theme-color), 9995px 0 0 0 var(--theme-color), 10005px 0 0 0 var(--theme-color);
    }
    16.667% {
        box-shadow: 9984px -10px 0 0 var(--theme-color), 9995px 0 0 0 var(--theme-color), 10005px 0 0 0 var(--theme-color);
    }
    33.333% {
        box-shadow: 9984px 0 0 0 var(--theme-color), 9995px 0 0 0 var(--theme-color), 10005px 0 0 0 var(--theme-color);
    }
    50% {
        box-shadow: 9984px 0 0 0 var(--theme-color), 9995px -10px 0 0 var(--theme-color), 10005px 0 0 0 var(--theme-color);
    }
    66.667% {
        box-shadow: 9984px 0 0 0 var(--theme-color), 9995px 0 0 0 var(--theme-color), 10005px 0 0 0 var(--theme-color);
    }
    83.333% {
        box-shadow: 9984px 0 0 0 var(--theme-color), 9995px 0 0 0 var(--theme-color), 10005px -10px 0 0 var(--theme-color);
    }
    100% {
        box-shadow: 9984px 0 0 0 var(--theme-color), 9995px 0 0 0 var(--theme-color), 10005px 0 0 0 var(--theme-color);
    }
}

.right-scroll-bar {
    margin-left: 0;
    overflow-y: scroll;
}

.right-scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;
}

.right-scroll-bar::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}

.right-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #aaa;
}

@media (min-width: 991px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    #root, .main-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden;
    }

    .middle-wrap {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (min-width: 768px) {

    .position-absolute-md {
        position: absolute;
    }
}

@media (min-width: 1800px) {
    .col-xxl-9 {
        flex: 0 0 70%;
        max-width: 70%;
    }

}

@media (min-width: 1600px) {

}

@media (min-width: 1400px) {
    .middle-sidebar-left {
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .middle-sidebar-left {
        padding-right: 0;
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
    }

    .p-lg--5 {
        padding: 3rem !important;
    }

}

@media (max-width: 1600px) {

    .main-content .middle-sidebar-bottom .middle-sidebar-left {
        width: 100%;
    }

    .main-content {
        padding-right: 0;
    }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .display2-md-size {
        font-size: 30px !important;
    }

    .display4-md-size {
        font-size: 40px !important;
    }

}

@media (max-width: 768px) {

    .sm-mb-4 {
        margin-bottom: 2rem !important;
    }

    .sm-mb-5 {
        margin-bottom: 3rem !important;
    }

    .sm-text-center {
        text-align: center;
    }

    .product-info-tab li {
        margin-right: 20px !important;
    }

}

@media (max-width: 576px) {
    .d-none-xs {
        display: none !important;
    }

    .emoji-wrap li i {
        font-size: 16px;
    }
}

.card-block {
    padding: 1.25rem;
}

.card1 .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.card1 .card-block p {
    line-height: 25px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
