{% extends "base.html" %}
{% block content %}

<script type="module" src="{{ url_for('static', filename='js/essay.js') }}" async></script>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <form id="essayForm" class="mb-4">
                <div class="mb-3 form-group">
                    <input type="text" class="form-control shadow-none font-xl fw-600 border-0" style="background-color: transparent !important"
                           value="Loading..." id="essay-title" required>
                </div>
                <div class="mb-3 form-group">
                    <textarea class="style2-textarea form-control font-xss fw-400 lh-base pt-3" id="essay-content" required>Loading...</textarea>
                </div>
            </form>
        </div>

        <div class="col-lg-4">
            <div class="d-flex w-100 rounded-xxl border bg-body p-3 mb-3">
                <span class="fw-semibold font-sm p-3">Grade: </span>
                <span id="essay-grade" class="font-sm fw-600 mt-3">Loading...</span>
            </div>

            <div class="w-100 rounded-xxl border bg-body list-group p-3 mb-3">
                <p class="fw-semibold mb-2 px-3 pt-3 font-sm">Overall Comments:</p>
                <span id="essay-comments" class="px-3 font-xss fw-500">Loading...</span>
            </div>

            <div class="w-100 rounded-xxl border bg-body list-group p-3 mb-3">
                <p class="fw-semibold mb-2 p-3 font-sm text-decoration-underline">Areas for Improvement:</p>
                <div id="essay-suggestions" class="list-group font-xss fw-500"></div>
            </div>
        </div>
    </div>
</div>

<div id="loading-screen"><div class="spinner"></div></div>

{% endblock %}