{% extends "base.html" %}
{% block content %}
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
        }

        li:hover {
            background-color: #f5f5f5;
        }

        .user-info {
            flex: 1;
        }

        .user-name {
            font-weight: bold;
        }

        .last-message {
            font-size: 14px;
            color: #777;
        }

        .timestamp {
            font-size: 12px;
            color: #999;
            padding-right: 50px
        }
    </style>
    <script>
        // JavaScript to handle chat item click and redirection
        document.addEventListener('DOMContentLoaded', function() {
            const chatItems = document.querySelectorAll('.chat-item');

            chatItems.forEach(function(item) {
                item.addEventListener('click', function() {
                    const userId = this.getAttribute('data-user-id');
                    const url = window.location.href + '/' + userId;
                    window.location.href = url;
                });
            });
        });
    </script>
    MESSAGES PAGE
    {{ current_user }}
    <br><br>
    <ul>
        {% for user in chats %}
            <li class="chat-item" data-user-id="{{ user.id }}">
                <div class="user-info">
                    <div class="user-name">{{ user.username }}</div>
                    <div class="last-message">{{ user.content }}</div>
                </div>
                <div class="timestamp">{{ user.timestamp }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}