{% extends "base.html" %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center px-5 py-3" style="height: 90vh;">
        <div class="rounded-xxl shadow-md bg-body w-100 h-100">
            <div class="row h-100">
                <div class="col-lg-4 col-md-5 col-12 sidebar pe-0 border-end">
                    <div class="sidebar-header text-white p-3 h65 border-bottom">
                        <button class="btn btn-primary" data-bs-target="#c-create" data-bs-toggle="modal"
                                id="create-conversation">
                            Create Conversation
                        </button>
                        <button class="btn btn-primary" data-bs-target="#g-create" data-bs-toggle="modal"
                                id="group-conversation">
                            Create Group
                        </button>
                    </div>

                    <div aria-hidden="true" aria-labelledby="conversation-create" class="modal fade" id="c-create"
                         tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="conversation-create">Add User</h5>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="float-left header-search ms-3">
                                        <div class="form-group mb-0 icon-input">
                                            <input class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xsss fw-600 rounded-xl w350 theme-dark-bg"
                                                   id="search-input1" placeholder="Start typing to search.."
                                                   type="text">
                                            <div class="list-group top-100 position-absolute w-100 rounded-xl border-1"
                                                 id="searchResults1">
                                                <!-- Search results will be displayed here -->
                                    </div>

                                        </div>
                                    </form>
                                    <br>
                                    <br>
                                    <br>

                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div aria-hidden="true" aria-labelledby="group-create" class="modal fade" id="g-create"
                         tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="group-create">Add Users</h5>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                            type="button"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" class="float-left header-search ms-3">
                                        <div class="form-group mb-0 icon-input">
                                            <input class="bg-grey border-0 lh-32 pt-2 pb-2 ps-5 pe-3 font-xsss fw-600 rounded-xl w350 theme-dark-bg"
                                                   id="search-input2" placeholder="Start typing to search.."
                                                   type="text">
                                            <div class="list-group top-100 position-absolute w-100 rounded-xl border-1"
                                                 id="searchResults2">
                                                <!-- Search results will be displayed here -->
                                            </div>
                                        </div>
                                    </form>
                                    <br>
                                    <br>
                                    <br>
                                    <div id="result123">

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="conversations" class="contacts-list p-3">
                        <input type="text" class="form-control mb-3" placeholder="Search contacts">
                    </div>
                </div>

                <div class="col-lg-8 col-md-7 col-12 position-relative ps-0">
                    <div class="position-relative border-bottom h65 w-100 py-2 px-3">
                        <figure class="avatar position-absolute me-3"><img id="chat-pfp" src="/static/assets/default-pfp.jpg" alt="avatar" class="shadow-sm rounded-circle w40"></figure>
                        <span id="chat-username" class="fw-700 font-sm position-absolute mt-1" style="padding-left: 60px !important">Loading...</span>
                    </div>
                    <div id="chat-wrap" class="chat-wrapper pt-0 w-100 position-relative scroll-bar bg-white theme-dark-bg border-bottom" style="height: 500px !important">
                        <div class="chat-body">
                            <div id="messages" class="messages-content p-3">
                            </div>
                        </div>
                    </div>

                    <div class="dark-bg p-3 shadow-none theme-dark-bg position-absolute bottom-0" style="width: 98%;">
                        <div class="chat-form">
                            <button class="bg-grey float-left"><i class="ti-microphone text-grey-600"></i></button>
                            <div class="form-group text-grey-600 fw-600"><input id="message" class="text-grey-600 fw-600" type="text" placeholder="Start typing.."></div>
                            <div class="form-group">
                                <input id="message" type="text" placeholder="Start typing..">
                            </div>
                            <button id="message-button" class="bg-current"><i class="ti-arrow-right text-white"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="module" src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}
