{% extends "base.html" %}
{% block content %}
<style>
    .container {
        display: flex;
        height: 100vh;
        font-family: Arial, sans-serif;
    }

    .sidebar {
        flex: 0 0 300px;
        background-color: #f5f5f5;
        padding: 20px;
        border-right: 1px solid #ccc;
        overflow-y: auto;
    }

    .chat-section {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
    }

    .chat-item {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    .chat-item:hover {
        background-color: #ebebeb;
    }

    .chat-item.selected {
        background-color: #ebebeb;
        font-weight: bold;
    }

    .chat-info {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .chat-name {
        font-weight: bold;
    }

    .chat-preview {
        font-size: 14px;
        color: #777;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .chat-messages {
        margin-top: 20px;
    }

    .message {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .message .sender {
        font-weight: bold;
        margin-right: 5px;
    }

    .message .content {
        word-break: break-word;
    }

    .message .timestamp {
        font-size: 12px;
        color: #999;
        margin-left: 10px;
    }

    .message-input {
        display: flex;
        margin-top: 20px;
    }

    .message-input input {
        flex: 1;
        padding: 5px;
    }

    .message-input button {
        padding: 5px 10px;
        margin-left: 10px;
    }
</style>

<div class="container">
    <div class="sidebar">
        <h2>Chats</h2>
        <ul id="chat-list"></ul>
        <button id="create-conversation">Create Conversation</button>
        <button id="create-group-conversation">Create Group</button>
    </div>

    <div class="chat-section">
        <div id="chat-header">
            <h2 id="chat-username"></h2>
        </div>
        <div id="chat-messages" class="chat-messages"></div>

        <div class="message-input">
            <input type="text" id="message" placeholder="Type a message...">
            <button id="send">Send</button>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        const socket = io.connect(`/messages/socket`, {rememberTransport: false});
        const chatItems = document.querySelectorAll('.chat-item');
        const chatUsername = document.getElementById('chat-username');
        const chatMessages = document.getElementById('chat-messages');
        const messageInput = document.getElementById('message');
        const sendButton = document.getElementById('send');
        let selectedChatItem = null;

        const chatList = document.getElementById('chat-list');
        fetch('/api/v1/conversations/data/all')
            .then(response => response.json())
            .then(data => data.conversations.forEach(chat => {
                const item = document.createElement('li');
                item.classList.add('chat-item');
                item.setAttribute('data-chat-id', chat.id);

                let name = chat.name;
                if (!chat.is_group) {
                    name = chat.users[0].id === {{ current_user.id }} ? chat.users[1].username : chat.users[0].username;
                }

                fetch(`/api/v1/conversations/history/${chat.id}`)
                    .then(response => response.json())
                    .then(history => {
                        if (history.messages.length === 0) {
                            item.innerHTML =
                                `<div class='chat-info'>
                                    <div class='chat-name'>${name}</div>
                                    <div class='chat-preview'></div>
                                    <div class='timestamp'></div>
                                </div>`;
                        } else {
                            const latestMessage = history.messages[history.messages.length - 1];
                            item.innerHTML =
                                `<div class='chat-info'>
                                    <div class='chat-name'>${name}</div>
                                    <div class='chat-preview'>${latestMessage.content}</div>
                                    <div class='timestamp'>${moment.utc(latestMessage.timestamp).local().calendar()}</div>
                                </div>`;
                        }
                        chatList.appendChild(item);
                    });

                item.addEventListener('click', function () {
                    // Remove selected class from previous selected chat item
                    if (selectedChatItem) {
                        selectedChatItem.classList.remove('selected');
                    }

                    // Add selected class to the clicked chat item
                    this.classList.add('selected');
                    selectedChatItem = this;

                    // Update the chat header with the username
                    chatUsername.innerText = this.querySelector('.chat-name').innerText;

                    // Clear the chat messages
                    chatMessages.innerHTML = '';

                    // Fetch and display the chat history
                    fetch(`/api/v1/conversations/history/${chat.id}`)
                        .then(response => response.json())
                        .then(data => {
                            data.messages.forEach(message => {
                                chatMessages.appendChild(createMessageElement(message))
                            });
                        });
                });
            }))


        sendButton.addEventListener('click', sendMessage);
        messageInput.addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        function sendMessage() {
            let messageToSend = messageInput.value;
            if (messageInput.value.trim() === '') return;
            messageInput.value = "";
            socket.emit('message', { 'conversation_id': selectedChatItem.getAttribute('data-chat-id'), 'content': messageToSend });
        }

        function createMessageElement(message) {
            const li = document.createElement("li");
            li.classList.add('message');
            li.innerHTML = `
                <span class="sender">${message.sender.username}</span>
                <span class="content">${message.content}</span>
                <span class="timestamp">(${moment.utc(message.timestamp).local().calendar()})</span>
            `;
            return li;
        }

        socket.on('new_message', function (data) {
            console.log(data);
            if (selectedChatItem && selectedChatItem.getAttribute('data-chat-id') === data.conversation_id) {
                chatMessages.appendChild(createMessageElement(data))
            }
        });

        const createConversationButton = document.getElementById('create-conversation');
        createConversationButton.addEventListener('click', function () {
            const targetUserId = prompt('Enter the user ID to create a conversation with:');
            if (!targetUserId) return;

            const data = {
                target: targetUserId
            };

            fetch('/api/v1/conversations/private/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response, e.g., update the chat list
                console.log(data);
            })
            .catch(error => {
                // Handle any errors
                console.error(error);
            });
        });

        const createGroupConversationButton = document.getElementById('create-group-conversation');
        createGroupConversationButton.addEventListener('click', function () {
            const groupName = prompt('Enter the group name:');
            if (!groupName) return;

            const userIDsString = prompt('Enter the user IDs (comma-separated) for the group members:');
            if (!userIDsString) return;

            const userIDs = userIDsString.split(',').map(id => id.trim());

            const data = {
                name: groupName,
                users: userIDs
            };

            fetch('/api/v1/conversations/group/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response, e.g., update the chat list
                console.log(data);
            })
            .catch(error => {
                // Handle any errors
                console.error(error);
            });
        });

    });
</script>
{% endblock %}
