{% extends 'base.html' %}
{% block content %}

<script type="module" src="{{ url_for('static', filename='js/posts.js') }}" async></script>

<div id="post-container" class="container loading-skeleton">
    <div class="row">
        <div class="col-lg-9">
            <div class="card post-card w-100 shadow-xss rounded-xxl border-0 p-4 mt-5 mb-3">
                <div class="card-body p-0 d-flex">
                    <figure class="avatar me-3">
                        <img id="post-author-pfp" src="{{ url_for('static', filename='assets/default-pfp.jpg') }}" alt="avater"
                             class="shadow-sm rounded-circle w45">
                    </figure>
                    <div>
                        <h4 id="post-author" class="fw-700 text-grey-900 font-xssss mt-1">Loading...</h4>
                        <span id="post-timestamp" class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">Loading...</span>
                    </div>
                    <div class="ms-auto pointer d-flex align-items-center">
                        <div id="post-solved" class="d-none rounded-pill bg-success text-white px-4 py-2 me-3 font-xssss">Solved</div>
                        <i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i>
                    </div>
                </div>

                <h4 id="post-title" class="fw-bold font-xs">Loading...</h4>
                <div class="card-body p-0 me-lg-5">
                    <p id="post-body" class="fw-500 text-grey-500 lh-26 font-xssss w-100 mb-2">
                        Loading...
                    </p>
                </div>

                <div id="post-attachment-wrap" class="card-body p-0 mb-3" style="display: none;">
                    <div class="row ps-2 pe-2">
                        <div class="col-sm-12 p-1"><img id="post-attachment" src="" class="rounded-3 w-100" alt="attachment"></div>
                    </div>
                </div>

                <div class="card-body d-flex p-0">
                    <div class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
                        <i id="post-upvote" class="upvote"></i>
                        <span id="post-votes" class="mx-2">Loading...</span> 
                        <i id="post-downvote" class="downvote"></i>
                    </div>

                    <a class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss">
                        <i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>
                        <span id="post-reply-count" class="d-none-xss">Loading...</span>
                    </a>

                    <div class="pointer ms-auto d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss" id="dropdownMenu32" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="feather-share-2 text-grey-900 text-dark btn-round-sm font-lg"></i>
                        <span class="d-none-xs">Share</span>
                    </div>

                    <div class="dropdown-menu dropdown-menu-end p-4 rounded-xxl border-0 shadow-lg right-0 " aria-labelledby="dropdownMenu32">
                        <h4 class="fw-700 font-xss text-grey-900 d-flex align-items-center">Share <i class="feather-x ms-auto font-xssss btn-round-xs bg-greylight text-grey-900 me-2"></i></h4>
                        <div class="card-body p-0 d-flex">
                            <ul class="d-flex align-items-center justify-content-between mt-2">
                                <li class="me-1"><span class="btn-round-lg pointer bg-tumblr"><i class="font-xs ti-tumblr text-white"></i></span></li>
                                <li class="me-1"><span class="btn-round-lg pointer bg-youtube"><i class="font-xs ti-youtube text-white"></i></span></li>
                                <li class="me-1"><span class="btn-round-lg pointer bg-flicker"><i class="font-xs ti-flickr text-white"></i></span></li>
                                <li class="me-1"><span class="btn-round-lg pointer bg-black"><i class="font-xs ti-vimeo-alt text-white"></i></span></li>
                                <li><span class="btn-round-lg pointer bg-whatsup"><i class="font-xs feather-phone text-white"></i></span></li>
                            </ul>
                        </div>
                        <h4 class="fw-700 font-xssss mt-4 text-grey-500 d-flex align-items-center mb-3">Copy Link</h4>
                        <i class="feather-copy position-absolute right-35 mt-3 font-xs text-grey-500"></i>
                        <input type="text" placeholder="https://studyhub.thepwo.com/post/{{ post.id }}" class="bg-grey text-grey-500 font-xssss border-0 lh-32 p-2 font-xssss fw-600 rounded-3 w-100 theme-dark-bg">
                    </div>
                </div>
            </div>

            <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                <label class="mont-font fw-600 font-xsss text-dark p-1">Know the answer or require further clarifications? Reply here!</label>
                <textarea id="reply-text" class="style2-textarea form-control h100" placeholder="Write your reply here." minlength="1"
                          maxlength="500" required></textarea>
                <button id="reply-button" class="bg-current form-control text-white font-xsss fw-600 mt-2 p-3 w175 border-0 rounded-3 d-inline-block" style="line-height: 0 !important; height: 40px;">
                    Reply
                </button>
                <button id="reply-button-loading" class="d-none bg-current form-control text-white font-xsss fw-600 mt-2 w175 border-0 rounded-3 d-inline-block" style="line-height: 30px !important; height: 40px;" disabled>
                    <span class="spinner-border spinner-border-sm" role="status"></span>
                    Sending...
                </button>
            </div>

            <hr class="p-0 my-3">
            <div id="post-replies"></div>
        </div>

        <div class="col-lg-3">
            <div class="card post-card w-100 shadow-xss rounded-xxl border-0 p-4 mt-5">
                <h4 class="fw-bold fs-5">Related Posts</h4><hr class="my-3">
                <div id="related-posts" class="list-group w-100 rounded-lg"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}