{% extends "base.html" %}
{% block content %}
<head>
    <style>
        #pfp {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    </style>
</head>
<div class="page-content page-container" id="page-content">
    <div class="padding1 text-center">
        <div class="row container d-flex justify-content-center mx-auto">
            <div class="col-xl-8 col-md-10">
                <div class="card1 user-card-full w-100">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <img alt="" id="pfp"
                                         src="{{ url_for('static', filename='assets/pwo.png') }}">
                                </div>
                                <h6 class="f-w-600" id="username"></h6>
                                <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Date Joined</p>
                                        <h6 class="text-muted f-w-400" id="datecreated"></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400" id="email"></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div><button class="btn btn-primary" id="message" type="button" style="visibility: hidden">Message</button></div>
                                <div>
                                    <label class="btn btn-primary" id="displayfile" for="upload-btn" style="visibility: hidden">Upload</label>
                                    <input type="file" id="upload-btn" style="visibility: hidden">
                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/users.js') }}" type="module"></script>
{% endblock %}
